{% extends 'side_menu.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'cadastros/css/exibir_cadastro_produto.css' %}">
{% endblock %}


{% block content %}


<body>

<div class="button-pattern">
<!-- Botão de Voltar -->
    <button class="button-pattern_final" onclick="window.history.back()">Voltar</button>
</div>


<div class="div-table">


<table>
    <thead>
        <tr>
            <th>Nome</th>
            <th>Regime</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>{{cliente.name}}</td>
            <td>{{cliente.regime}}</td>
        </tr>
    </tbody>

    <thead>
        <tr>
            <th>CNPJ</th>
            <th>Inscrição Estadual</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>{{cliente.cnpj}}</td>
            <td>{{cliente.ie}}</td>
        </tr>
    </tbody>

    <thead>
        <tr>
            <th>CEP</th>
            <th>Estado</th>
            <th>Cidade</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>{{cliente.cep}}</td>
            <td>{{cliente.estado}}</td>
            <td>{{cliente.cidade}}</td>
        </tr>
    </tbody>

    <thead>
        <tr>
            <th>Rua</th>
            <th>Numero</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>{{cliente.rua}}</td>
            <td>{{cliente.numero}}</td>
        </tr>
    </tbody>


</table>


</div>

<!--<div class="button-editar-produto">-->
<!--    <a href="/cadastro/editar_cadastro_produto/{{produto.id}}"><button class="editar-button">Editar</button></a>-->
<!--</div>-->

</body>


{% endblock content %}
