body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    padding: 20px;
}

.produto {
    background-color: #fff;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    max-width: 600px;
    border-radius: 5px;
}

h2 {
    color: #007bff;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}

li:last-child {
    border-bottom: none;
}

strong {
    color: #ff0000;
}
