body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
}

h1{
    color: #5b5b5b;
    font-weight: 600;
}

.faltas-tabela {
    width: 100%;
    border-collapse: collapse;
}

.faltas-tabela th, .faltas-tabela td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.faltas-tabela th {
    background-color: #f4f4f4;
    font-weight: 600;

}

.faltas-tabela tr:nth-child(even) {
    background-color: #f9f9f9;
}

.faltas-tabela tr:hover {
    background-color: #f1f1f1;
}

.produtos {
    margin-top: 20px;
    font-weight: 200;
}

.quant_falta{
    color: red;
}
