
body {
    font-family: Arial, sans-serif;
}

.filtros{
    padding-top: 30px;
    padding-bottom: 30px;
}

.tabs {
    display: flex;
    border-bottom: 1px solid #a8a8a8;
    margin-bottom: 20px;
}

#titulo-busca{
    padding: 10px 20px;
    border-radius: 5px;
}

#busca{
    padding: 10px 70px;
    border-radius: 5px;
    margin-right: 20px;
}

#busca:hover{
    cursor: pointer;
    border: #5d0377 3px solid;
}

#data-inicial, #data-final{
    padding: 10px 20px;
    border-radius: 5px;
}

.button_search{
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #8b0598;
    color: white;
    border: none;
    margin-left: 30px;
}

.button_search:hover{
    background-color: #51a1da;
    cursor: pointer;
}

.tabs{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
        margin-bottom: 20px;
}

.tabs a {
    padding: 0.4vw 1.8vw;
    cursor: pointer;
    text-decoration: none;
    color: black;
    border-bottom: none;

}
.tabs a.active {
    background-color: white;
    border-top: 2px solid #007bff;
    font-weight: bold;
}
.tabs a:hover {
    background-color: #8d06b6;
    color: white;

}
table {
    width: 100%;
    border-collapse: collapse;
}
th {
    padding-bottom: 20px;
    text-align: left;
    padding-left: 2vw;
    font-weight: 100;
    color: #5b5b5b;
}

td{
    padding: 7px;
    border-bottom: 1px #9a9a9a inset;
    text-align: left;

}

tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
}
tbody tr:nth-child(even) {
    background-color: #fff;
}


.menu {
    position: relative;
    display: inline-block;
}

.menu-content {
    display: none;
    position: absolute;
    background-color: #7c7c7c; /* Cor de fundo do menu, por exemplo, verde */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: 200px; /* Aumenta a largura do menu */
    border-radius: 8px; /* Bordas arredondadas para um visual mais moderno */
}

.menu-content a {
    padding: 15px 25px; /* Aumenta o padding para botões maiores */
    text-decoration: none;
    display: block;
    color: white; /* Cor do texto no menu */
    font-size: 16px; /* Aumenta o tamanho da fonte */
    cursor: pointer; /* Altera o cursor para pointer */
    transition: background-color 0.3s ease; /* Transição suave */
}

.menu-content a:hover {
    background-color: #5d0377; /* Cor de fundo no hover */
}

.menu-toggle {
    cursor: pointer; /* Altera o cursor para pointer para indicar interatividade */
    font-size: 20px; /* Aumenta o tamanho do botão de três pontos */
    color: white;
    background-color: #5d0377;
    padding: 1px 10px;
    border-radius: 15px; /* Bordas arredondadas para um visual mais moderno */
}

.menu-toggle:hover {
    background-color: #7f2fb7;
}


.acessar-button {
    font-size: 14px;
    max-width: 120px; /* Altere o tamanho máximo se necessário */
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #a53be7;
    border: 2px solid #a53be7;
    border-radius: 5px;
    background-color: transparent;
    padding: 2px 5px;
    min-height: 20px;
}

.acessar-button:hover {
    background-color: #a53be7;
    color: white;
}

td a{
    text-decoration: none;

}

