<h1>Pedidos a Separar - {{ produto.nome }}</h1>
<table>
    <thead>
        <tr>
            <th>ID do Pedido</th>
            <th>Nome do Pedido</th>
            <th>Cliente</th>
            <th>Quantidade</th>
            <th>Data do Pedido</th>
            <th>Status do Pedido</th>
        </tr>
    </thead>
    <tbody>
        {% for detalhe in detalhes_pedidos %}
        <tr>
            <td>{{ detalhe.pedido_id }}</td>
            <td>{{ detalhe.pedido_nome }}</td>
            <td>{{ detalhe.cliente }}</td>
            <td>{{ detalhe.quantidade }}</td>
            <td>{{ detalhe.data_pedido }}</td>
            <td>{{ detalhe.status_pedido }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
