{% extends 'side_menu.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/style_pesquisar_lotes.css' %}">
{% endblock %}

{% block content %}

<h1>Pesquisar Movimentação de Lotes</h1>

<form method="POST">
    {% csrf_token %}

    <div class="div_pesquisa">

    <div class="div-input">
        <input class="lote-digitar" type="text" name="lote" placeholder="Digite um Lote" id="lote">
    </div>

    <input class="pesquisar-botao" type="submit" value="Pesquisar">

    </div>
</form>

{% endblock %}