{% extends 'side_menu.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'produtos_acabados/css/entrada_produtos_acabados.css' %}">
{% endblock %}

{% block content %}

<div class="button-pattern">
<!-- Botão de Voltar -->
    <button class="button-pattern_final" onclick="window.history.back()">Voltar</button>
</div>

<h1>Adicione uma entrada</h1>

<p class="lead">
    Clique em Adicionar Produto. Após preencha todas as informações abaixo para adicionar uma nova transferência de estoque.
</p>



<form id="transferencia_form" action="" method="POST" onsubmit="return validateForm()">
    {% csrf_token %}

    <input type="text" class="motorista_input" name="motorista_input" placeholder="Motorista" id="motorista">
    <input type="text" class="veiculo_input" name="veiculo_input" placeholder="Veículo" id="veiculo">
    <input type="text" class="conferente_input" name="conferente_input" placeholder="Conferente" id="conferente">
    <input type="number" placeholder="Quant. Pallets" class="quantidade_pallets" name="quantidade_pallets" id="quant_pallets">
    <input type="text" class="obs_input" name="obs_input" placeholder="Observações">


    <input type="hidden" id="produto_id" name="produto_id">

    <button type="button" class="validate_button" onclick="adicionarBotaoEnviar()">Validar</button>
    <div id = "div_botao_enviar"></div>

</form>

<script>


    function adicionarBotaoEnviar() {
        var container = document.getElementById('div_botao_enviar');
        var botao = document.createElement('button');

        botao.innerHTML = 'Enviar';
        botao.type = 'submit';

        container.appendChild(botao);

        // Ocultar o botão de validar após criar o botão de enviar
        var botaoValidar = document.querySelector('.validate_button');
        botaoValidar.style.display = 'none';
    }



    function validateForm() {
        var motorista = document.getElementById("motorista").value;
        var veiculo = document.getElementById("veiculo").value;
        var conferente = document.getElementById("conferente").value;
        var quant_pallets = document.getElementById("quant_pallets").value;


        // Validar o campo de nome
        if (motorista == "" || motorista.length < 4) {
            alert("Por favor, preencha o campo Motorista Corretamente");
            return false;
        } else if (veiculo == "" || veiculo.length < 4) {
            alert("Por favor, preencha o campo Veículo Corretamente");
            return false;
        } else if (conferente == "" || conferente.length < 4) {
            alert("Por favor, preencha o campo Conferente Corretamente");
            return false;
        } else if (quant_pallets == "" || quant_pallets == 0) {
            alert("Por favor, preencha o campo Quantidade de Pallets Corretamente");
            return false;
        }
    }



</script>
{% endblock content %}















