{% extends 'side_menu.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'produtos_acabados/css/exibicao_transferencias_estoque.css' %}">
{% endblock %}


{% block content %}

{% if status == 'n_validado' %}
    <div class="button-pattern">
        <a href="{% url 'listar_transferencias_estoque' %}"><button class="button-pattern_final">Voltar</button></a>
        <a href="/produtos_acabados/adicionar_produto_transferencia/?id={{id}}"><button class="button-add-product">Adicionar Produto</button></a>
    </div>

{% else %}

    <div class="button-pattern">
        <a href="{% url 'entradas_recebidas_estoque' %}"><button class="button-pattern_final">Voltar</button></a>
    </div>

{% endif %}


<span><h2>Transferencia de Estoque numero: {{ transferencia.numero_transferencia }} |  Data:  {{transferencia.data_saida|date:"d/m/Y" }}</h2></span>


<div class="infos">
    <h3 class="info_cabec">Motorista: {{transferencia.motorista}}</h3>
    <h3 class="info_cabec">Veiculo: {{ transferencia.veiculo }}</h3>
    <h3 class="info_cabec">Conferente: {{ transferencia.conferente }}</h3>
    <h3 class="info_cabec">quantidade de pallets: {{ transferencia.quantidade_pallets }}</h3>
</div>

<div class="container-tabela">
    <div class="container">
        <table class="table_info">



            <thead>
            <tr class="description-tr">
                <th class="description-name">Produto</th>
                <th class="description-name">Unid.</th>
                <th class="description-name">Caixas</th>
                <th class="description-name">Lote</th>
                <th class="description-name">Cod. de Barras</th>
                <th class="description-name">Cod. de Caixa</th>
                <th class="description-name">Fabricação</th>
            </tr>
            </thead>
            <tbody>
            {% for valores in produtos %}
            <tr class="itens-tr">
                <td class="product_name product">{{ valores.produto }}</td>
                <td class="product_name">{{ valores.quantidade_unitaria }}</td>
                <td class="product_name">{{ valores.quantidade_caixa }}</td>
                <td class="product_name">{{ valores.lote }}</td>
                <td class="product_name">{{ valores.codigo_barra_unidade }}</td>
                <td class="product_name">{{ valores.codigo_barra_caixa }}</td>
                <td class="product_name">{{ valores.data_fabricacao|date:"d/m/Y" }}</td>
            </tr>
                {% endfor %}
            </tbody>
        </table>

</div>

<div class="container-text">
    <label for="observacoes" class="label">Observações Internas</label>
    <textarea id="observacoes" class="textarea" readonly placeholder=" {{transferencia.observacoes}} "></textarea>
</div>




{% endblock content %}
