{% extends 'side_menu.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'produtos_acabados/css/exibicao_transferencias_estoque.css' %}">
{% endblock %}


{% block content %}

<div class="button-pattern">
<!-- Botão de Voltar -->
    <button class="button-pattern_final" onclick="window.history.back()">Voltar</button>
</div>

<span><h2>Transferencia de Estoque numero: {{ transferencia.numero_transferencia }} |  Data:  {{transferencia.data_saida|date:"d/m/Y" }}</h2></span>


<div class="container-tabela">
    <div class="container">
        <table>

            <thead>
            <tr class="description-tr">
                <th class="description-name">Motorista</th>
                <th class="description-name">Veiculo</th>
                <th class="description-name">Conferente</th>
                <th class="description-name">quantidade_pallets</th>
            </tr>
            </thead>
            <tbody>
            <tr class="itens-tr">
                <td class="product_name">{{ transferencia.motorista }}</td>
                <td class="product_name">{{ transferencia.veiculo }}</td>
                <td class="product_name">{{ transferencia.conferente }}</td>
                <td class="product_name">{{ transferencia.quantidade_pallets }}</td>

            </tr>
            </tbody>


            <thead>
            <tr class="description-tr">
                <th class="description-name">Produto</th>
                <th class="description-name">Quantidade Unit.</th>
                <th class="description-name">Quantidade Caixa</th>
                <th class="description-name">Lote</th>
                <th class="description-name">Data Fabricação</th>
                <th class="description-name">Validade</th>
            </tr>
            </thead>
            <tbody>
            {% for valores in produtos %}
            <tr class="itens-tr">
                <td class="product_name">{{ valores.produto }}</td>
                <td class="product_name">{{ valores.quantidade_unitaria }}</td>
                <td class="product_name">{{ valores.quantidade_caixa }}</td>
                <td class="product_name">{{ valores.lote }}</td>
                <td class="product_name">{{ valores.data_fabricacao|date:"d/m/Y" }}</td>
                <td class="product_name">{{ valores.validade|date:"d/m/Y" }}</td>
            </tr>
                {% endfor %}
            </tbody>
        </table>

</div>

<div class="container-text">
    <label for="observacoes" class="label">Observações Internas</label>
    <textarea id="observacoes" class="textarea" readonly placeholder=" {{transferencia.observacoes}} "></textarea>
</div>




{% endblock content %}
