{% extends 'side_menu.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'vendas/css/style_criar_pedido_separacao.css' %}">
<script src="{% static 'vendas/js/criar_pedido_separacao_funcoes/adicionar_inputs_produtos_quantidades_precos.js' %}"></script>
<script src="{% static 'vendas/js/criar_pedido_separacao_funcoes/calcular_valores_quantidades_pedido.js' %}"></script>
<script src="{% static 'vendas/js/criar_pedido_separacao_funcoes/exibir_info_cliente_tela.js' %}"></script>
{% endblock %}

{% block content %}

<div class="button-pattern">
<!-- Botão de Voltar -->
    <button class="button-pattern_final" onclick="window.history.back()">Voltar</button>
</div>

<h2>Editar Pedido</h2>
<p class="lead">Atualize as informações abaixo para editar o Pedido.</p>

<form id="pedido_form" action="" method="POST">
    {% csrf_token %}
    <input type="text" id="cliente_input" name="cliente_input" list="nomes_clientes" placeholder="Selecione um Cliente" class="form_control" value="{{ pedido.cliente.name }}">
    <datalist id="nomes_clientes">
        {% for cliente in clientes %}
            <option value="{{ cliente.name }}" data-id="{{ cliente.id }}" data-cnpj="{{ cliente.cnpj }}" data-endereco="{{ cliente.rua }} - {{ cliente.numero }} - {{ cliente.cidade }} - {{ cliente.estado }} - {{ cliente.cep }}" data-ie="{{ cliente.ie }}">
        {% endfor %}
    </datalist>
    <input type="hidden" id="cliente_id" name="cliente_id" value="{{ pedido.cliente.id }}">
    <div id="info_cliente"></div>

    <h3 class="subtitle_h3">Edite seu Pedido:</h3>
    <p class="descricao-p">Atualize apenas os campos que forem necessários para o seu pedido</p>

    <div id="input_titles">
        <span>Produto</span>
        <span>Código do Produto</span>
        <span>Quantidade da Caixa</span>
        <span>Quantidade</span>
        <span>Quantidade de Caixas</span>
        <span>Ações</span>
    </div>
    <div id="inputs_container">
        {% for item in itens_pedido %}
        <div class="produto-linha">
            <input type="text" list="nomes_produtos" placeholder="Selecione um Produto" class="produto_input" name="nome_produto" value="{{ item.product_instance.name }}" oninput="setProductInfo(this)" onblur="validarProduto(this)">
            <input type="text" placeholder="Código do Produto" class="codigo_produto_input" name="codigo_produto" value="{{ item.product_instance.product_code }}" readonly tabindex="-1">
            <input type="text" placeholder="Quantidade da Caixa" class="quantidade_caixa_input" name="quantidade_caixa" value="{{ item.product_instance.box_quantity }}" readonly tabindex="-1">
            <input type="number" placeholder="Quantidade" class="quantidade_input" name="quantidade_produto" value="{{ item.quantidade }}" oninput="calcularQuantidadeCaixas(this)">
            <input type="text" placeholder="Quantidade de Caixas" class="quantidade_caixas_calculada" name="quantidade_caixas" value="{{ item.quantidade_caixas }}" readonly tabindex="-1">
            <span class="icone-erro" style="display: none;">&#9888;</span>
            <button type="button" class="remove-button" onclick="removerLinha(this)">X</button>
        </div>
        {% endfor %}
    </div>

    <button type="button" class="add-product_button" onclick="adicionarInput()">Adicionar Produto</button>
    <datalist id="nomes_produtos">
        {% for produto in produtos %}
            <option value="{{ produto.name }}" data-code="{{ produto.product_code }}" data-box-quantity="{{ produto.box_quantity }}">
        {% endfor %}
    </datalist>
    <button type="button" class="calcular-button" onclick="calcularTotal()">Calcular Total</button>

    <button type="submit" class="finalizar-button">Salvar Pedido</button>

    <p id="quantidade_total"></p>
    <p id="caixas_total"></p>

</form>
{% endblock %}
