{% extends 'side_menu.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'vendas/css/expedicao_separar.css' %}">
{% endblock %}

{% block content %}

<div class="button-pattern">
<!-- Botão de Voltar -->
    <button class="button-pattern_final">  <a class="botao" href="{% url 'expedicao_list' %}">Voltar</a></button>
</div>

{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" data-alerta="{{ message }}">
        </div>
    {% endfor %}
{% endif %}


<h2 class="title">Separar Pedido</h2>
<h3 class="subtitle">{{ pedido.id }}  -  {{ pedido.cliente }}</h3>
<form method="POST">
    {% csrf_token %}

    {% for item in pedido.itens.all %}
        <div class="produto-linha">
            <div class="container">
                <div class="Produto item-product"><p>{{ item.produto.name }}</p></div>
                <div class="Codigo-Barra item-product"><p>COD BARRAS: {{ item.produto.product_bar_code }}</p></div>
                <div class="Codigo-Caixa item-product"><p>COD CX: {{ item.produto.box_bar_code }}</p></div>
                <div class="Quantidade item-product"><p>QUANTIDADE: <strong class="strong"> {{ item.quantidade }} </strong> </p></div>
                <div class="Quantidade-Caixa item-product"><p>QUANT CAIXAS: <strong class="strong"> {{ item.quantidade_caixas }} </strong> </p></div>
            </div>

            <div id="lotes_{{ item.id }}">
                <div class="lote-entry">
                    <div class="input1">
                        <input type="number" name="quantidades_{{ item.id }}" placeholder="Quantidade" oninput="updateRemaining({{ item.id }}, {{ item.quantidade }})">
                    </div>
                    <div class="input2">
                        <input type="text" name="lotes_{{ item.id }}" placeholder="Lote">
                    </div>
                    <button type="button" class="remove-lote" onclick="removeLoteEntry(this, {{ item.id }}, {{ item.quantidade }})">x</button>
                </div>
            </div>

            <div class="adiconar-faltando-div">
                <button class="botao-adicionar-lote" type="button" onclick="confirmAddLoteEntry({{ item.id }}, {{ item.quantidade }})">Adicionar Lote</button>
                <p id="remaining_{{ item.id }}" class="remaining">Faltando: {{ item.quantidade }}</p>
            </div>

        </div>
    {% endfor %}

    <div class="button-salvar-div">
        <button class="salvar_button" type="submit">Salvar</button>
    </div>

</form>

<script>
function confirmAddLoteEntry(itemId, totalQuantidade) {
    if (confirm('Você deseja adicionar um novo lote?')) {
        addLoteEntry(itemId, totalQuantidade);
    }
}

function addLoteEntry(itemId, totalQuantidade) {
    var loteDiv = document.getElementById('lotes_' + itemId);
    var newEntry = document.createElement('div');
    newEntry.className = 'lote-entry';
    newEntry.innerHTML = '<div class="input1"><input type="number" name="quantidades_' + itemId + '" placeholder="Quantidade" oninput="updateRemaining(' + itemId + ', ' + totalQuantidade + ')"></div>' +
                         '<div class="input2"><input type="text" name="lotes_' + itemId + '" placeholder="Lote"></div>' +
                         '<button type="button" class="remove-lote" onclick="removeLoteEntry(this, ' + itemId + ', ' + totalQuantidade + ')">x</button>';
    loteDiv.appendChild(newEntry);
    updateRemaining(itemId, totalQuantidade);
}

function removeLoteEntry(button, itemId, totalQuantidade) {
    var loteEntry = button.parentElement;
    var quantidadeInput = loteEntry.querySelector('input[type="number"]');
    var loteInput = loteEntry.querySelector('input[type="text"]');

    if (quantidadeInput.value || loteInput.value) {
        if (confirm('Você realmente quer remover este lote?')) {
            loteEntry.remove();
            updateRemaining(itemId, totalQuantidade);
        }
    } else {
        loteEntry.remove();
        updateRemaining(itemId, totalQuantidade);
    }
}

function updateRemaining(itemId, totalQuantidade) {
    var loteDiv = document.getElementById('lotes_' + itemId);
    var quantidadeInputs = loteDiv.querySelectorAll('input[type="number"]');
    var totalSeparado = 0;

    quantidadeInputs.forEach(function(input) {
        if (input.value) {
            totalSeparado += parseFloat(input.value);
        }
    });

    var remaining = totalQuantidade - totalSeparado;
    document.getElementById('remaining_' + itemId).innerText = 'Restante para separar: ' + remaining;
}


    window.onload = function() {
        // Seleciona todas as divs que têm o atributo data-alerta
        var alertas = document.querySelectorAll('[data-alerta]');

        // Itera sobre as divs encontradas e exibe o alerta
        alertas.forEach(function(alerta) {
            var mensagem = alerta.getAttribute('data-alerta');
            if (mensagem) {
                alert(mensagem);
            }
        });
    };


</script>


{% endblock %}
