{% extends 'side_menu.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'produtos_acabados/css/itens_mistos/style_create_misto.css' %}">
{% endblock %}

{% block content %}

<div class="button-pattern">
    <!-- Botão de Voltar -->
    <button class="button-pattern_final" onclick="window.history.back()">Voltar</button>
</div>

<div class="container">
    <h1>Criar Item Misto</h1>

    <form id="item_misto_form" method="post">
        {% csrf_token %}

        <p class="datas-p">Produto</p>
        <input type="text" id="produto_input" name="produto_input" list="produtos"
        placeholder="Selecione um Produto" class="form_control">

        <datalist id="produtos">
            {% for produto in produtos %}
                <option value="{{ produto.name }}" data-id="{{ produto.id }}" data-quantidade-caixa="{{ produto.box_quantity }}">
            {% endfor %}
        </datalist>

        <p class="datas-p">Lote</p>
        <input type="text" id="lote" name="lote" placeholder="Digite o lote" class="form_control">

        <p class="datas-p">Quantidade Unitária</p>
        <input type="text" id="quantidade_unitaria" name="quantidade_unitaria" placeholder="Digite a quantidade unitária" class="form_control">

        <p class="datas-p">Quantidade de Caixas</p>
        <input type="text" id="quantidade_caixas" name="quantidade_caixas" placeholder="Digite a quantidade de Caixas" class="form_control">


        <h2>Componentes</h2>
        <div class="form-row titles">
            <div class="field-container">
                <label>Produto</label>
            </div>
            <div class="field-container">
                <label>Lote</label>
            </div>
            <div class="field-container">
                <label>Quantidade na Caixa</label>
            </div>
        </div>

        <datalist id="produtos_geral">
            {% for produto_geral in produtos_geral %}
                <option value="{{ produto_geral.name }}" data-id="{{ produto_geral.id }}" data-quantidade-caixa="{{ produto_geral.quantidade_caixa }}">
            {% endfor %}
        </datalist>

        <div id="inputs_container"></div>
        <div class="buttons">
            <button type="button" class="add-product_button" onclick="adicionarInputProduto()">Adicionar Produto</button>
            <button class="button-save" type="submit">Salvar</button>
        </div>

    </form>

</div>

<script>
    function adicionarInputProduto() {
        var container = document.getElementById('inputs_container');
        var novo_input = document.createElement('div');

        novo_input.innerHTML = `
            <div>
                <div class="field_input">
                    <input type="text" placeholder="Selecione um Produto" class="form_control" name="produto_component" list="produtos_geral">
                </div>

                <div class="field_input">
                    <input type="text" placeholder="Lote" class="form_control" name="lote_component">
                </div>

                <div class="field_input">
                    <input type="text" placeholder="Quant na Caixa" class="form_control" name="quantidade_caixa_component">
                </div>

                <button type="button" class="remove_button" onclick="removerInputProduto(this)">X</button>
            </div>
        `;

        container.appendChild(novo_input);
    }

    function removerInputProduto(botao) {
        botao.parentNode.remove(); // Remove o elemento pai do botão (a linha de inputs)
    }

    document.getElementById('item_misto_form').addEventListener('submit', function(event) {
        var produtoInput = document.getElementById('produto_input');
        var loteInput = document.getElementById('lote');
        var quantidadeUnitariaInput = document.getElementById('quantidade_unitaria');

        // Verifica se todos os campos principais estão preenchidos
        if (!produtoInput.value || !loteInput.value || !quantidadeUnitariaInput.value) {
            alert('Por favor, preencha todos os campos principais.');
            event.preventDefault();
            return;
        }

        // Obtém a quantidade da caixa do produto selecionado
        var selectedProduto = document.querySelector('option[value="' + produtoInput.value + '"]');
        if (!selectedProduto) {
            alert('Produto selecionado não encontrado.');
            event.preventDefault();
            return;
        }
        var quantidadeCaixaProduto = parseFloat(selectedProduto.dataset.quantidadeCaixa);

        // Verifica se a quantidade unitaria é válida
        var quantidadeUnitaria = parseFloat(quantidadeUnitariaInput.value);
        if (isNaN(quantidadeUnitaria)) {
            alert('Quantidade Unitária inválida.');
            event.preventDefault();
            return;
        }

        var quantidadeCaixas = parseFloat(document.getElementById('quantidade_caixas').value);
        if (isNaN(quantidadeCaixas)) {
            alert('Quantidade de Caixas inválida.');
            event.preventDefault();
            return;
        }


        // Verifica se a quantidade unitaria é divisível pela quantidade da caixa
        if (quantidadeUnitaria % quantidadeCaixaProduto !== 0) {
            alert('Quantidade Unitária deve ser múltiplo da Quantidade na Caixa do produto.' + quantidadeCaixaProduto + quantidadeUnitaria);
            event.preventDefault();
            return;
        }

        // Soma as quantidades das caixas dos componentes
        var quantidadeTotalCaixa = 0;
        var componentes = document.querySelectorAll('#inputs_container .field_input input[name="quantidade_caixa_component"]');
        componentes.forEach(function(input) {
            var valor = parseFloat(input.value);
            if (!isNaN(valor)) {
                quantidadeTotalCaixa += valor;
            }
        });

        // Verifica se a quantidade total das caixas corresponde à quantidade da caixa do produto selecionado
        if (quantidadeTotalCaixa !== quantidadeCaixaProduto) {
            alert('A soma das quantidades nas caixas dos componentes deve corresponder à quantidade na caixa do produto selecionado.');
            event.preventDefault();
        }
    });
</script>

{% endblock %}
